{% extends "base.html" %}
{% load static %}

{% block menu %}
    {% include './include/top_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{{ title }}</h1>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    {% if possibility_of_adding %}
                        {% block new_element %}
                            <div class="card-body">
                                <a href="{% url element_new_link %}"
                                   class="btn btn-outline-secondary">Добавить</a>
                            </div>
                        {% endblock %}
                    {% endif %}

                    {% block filter %}
                    {% endblock %}

                    <table class="table table-striped ">
                        {% block table %}
                        {% endblock %}
                    </table>
                </div>
            </div>
        </div>

        {% include './include/paginator.html' %}
    </div>


{% endblock %}