{% extends "base.html" %}
{% load static %}

{% block menu %}
    {% include './include/top_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{{ title }}</h1>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    {% if possibility_of_adding %}
                    <div class="card-body">
                        <a href="{% url element_new_link %}"
                           class="btn btn-outline-secondary">Добавить</a>
                    </div>
                    {% endif %}
                    <table class="table table-striped ">
                    {% block table %}
                    {% endblock %}
                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}