{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block menu %}
    {% include './include/top_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">

        <!-- <h1 class="h3 mb-3">Form Layouts</h1> -->

        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Создание/редакторивание элемента</h5>
                        <h6 class="card-subtitle text-muted">Внеший ключ используется для связи с внешней системой.</h6>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3 row">
                                    <label class="col-form-label col-sm-3 text-sm-right"
                                           for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                        {% if field.field.widget.input_type == 'checkbox' %}
                                            {{ field | addclass:"form-check-input" }}
                                        {% else %}
                                            {{ field | addclass:"form-control" }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="mb-3 row">
                                <div class="col-sm-10 ml-sm-auto">
                                    <button type="submit"
                                            class="btn btn-outline-secondary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}