{% extends "list_base.html" %}
{% load static %}

{% block table %}
    <thead>
    <tr>
        <th style="width:40%;">Наименование</th>
        <th style="width:40%;">Внешний ключ</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.name }} </td>
            <td> {{ element.external_key }} </td>
            <td class="table-action">
                {% include 'table_actions.html' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}