{% extends "list_base.html" %}
{% load static %}

{% block table %}
    <thead>
    <tr>
        <th style="width:40%;">Наименование</th>
        <th style="width:40%;">Идентификатор</th>
        <th style="width:40%;">Порт</th>
        <th style="width:40%;">Тип</th>
        <th style="width:40%;">В работе</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.name }} </td>
            <td> {{ element.external_key }} </td>
            <td> {{ element.port }} </td>
            <td> {{ element.mode }} </td>
            <td> {{ element.is_active|yesno:"Да,Нет,-"  }} </td>
            {% include 'table_actions.html' %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}