{% extends "list_base.html" %}
{% load static %}

{% block table %}
    <thead>
    <tr>
        <th style="width:40%;">Наименование</th>
        <th style="width:40%;">GTIN</th>
        <th style="width:40%;">Срок годности (в днях)</th>
        <th style="width:40%;">Срок годности (Количество в паллете)</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.name }} </td>
            <td> {{ element.gtin }} </td>
            <td> {{ element.expiration_date }} </td>
            <td> {{ element.count_in_pallet }} </td>
            <td class="table-action">
                <a href="{% url  'product_detail' element.guid %}"><i
                        class="align-middle"
                        data-feather="grid"></i></a>
                {% include 'table_actions.html' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}