{% extends "list_base.html" %}
{% load static %}

{% block filter %}

    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header pb-sm-0">
                <h5 class="card-title">Фильтрация</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'marking' %}" method="get">
                    {% csrf_token %}

                    <div class="mb-3 row">
                        <label class="col-form-label col-sm-2 text-sm-right">Пользователь</label>
                        <div class="col-sm-5">
                        <select class="form-control " id="user" placeholder="Jane Doe" name="user">
                            <option value="none"> ----</option>
                            {% for user in users %}
                                <option value="{{ user.pk }}" {% if user.pk|slugify == user_filter|slugify %}
                                        selected="selected" {% endif %} >{{ user.username }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-form-label col-sm-2 text-sm-right">Дата</label>
                        <div class="col-sm-5">
                            <input type="date" class="form-control" id="date_source"
                                   name="date_source"
                                   placeholder="Search projects…" aria-label="Search">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-form-label col-sm-2 text-sm-right">Номер партии</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="batch_number"
                                   name="batch_number"
                                   placeholder="" aria-label="Search"
                                   value={{ batch_number|default_if_none:"" }}>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-form-label col-sm-2 text-sm-right">Линия</label>
                        <div class="col-sm-5">
                        <select class="form-control " id="line" placeholder="Jane Doe" name="line">
                            <option value="none"> ----</option>
                            {% for line in lines %}
                                <option value="{{ line.pk }}" {% if line.pk|slugify == line_filter|slugify %}
                                        selected="selected" {% endif %} >{{ line.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-sm-10 ml-sm-auto">
                            <button type="submit" class="btn btn-primary">Отобрать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block table %}
    <thead>
    <tr>
        <th style="width:5%;">Номер</th>
        <th style="width:20%;">Дата</th>
        <th style="width:20%;">Линия</th>
        <th style="width:20%;">Автор</th>
        <th style="width:10%;">Номер партии</th>
        <th style="width:15%;">Дата выработки</th>
        <th style="width:15%;">Количство марок</th>
        <th style="width:5%;">Закрыта</th>
        <th style="width:5%;">Готова в выгрузке</th>
        <th style="width:5%;">Выгружена</th>
        <th style="width:5%;">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.number }} </td>
            <td> {{ element.date }} </td>
            <td> {{ element.line|default_if_none:"-" }} </td>
            <td> {{ element.author }} </td>
            <td> {{ element.batch_number|default_if_none:"-" }} </td>
            <td> {{ element.production_date }} </td>
            <td> {{ element.marks.count }} </td>
            <td>
                {% if element.closed %}
                    <span class="badge bg-success">V</span>
                {% else %}
                    <span class="badge bg-warning">X</span>
                {% endif %}
            </td>
            <td>
                {% if element.ready_to_unload %}
                    <span class="badge bg-success">V</span>
                {% else %}
                    <span class="badge bg-warning">X</span>
                {% endif %}
            </td>
            <td>
                {% if element.unloaded %}
                    <span class="badge bg-success">V</span>
                {% else %}
                    <span class="badge bg-warning">X</span>
                {% endif %}
            </td>
            <td class="table-action">
                <a href="{% url  'marking_pallets' element.guid %}"><i
                        class="align-middle"
                        data-feather="box"></i></a>
                <a href="{% url  'marking_detail' element.guid %}"><i
                        class="align-middle"
                        data-feather="grid"></i></a>
                <a href="{% url  'marking_operation_edit' element.guid %}"><i
                        class="align-middle"
                        data-feather="edit"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}