{% extends "list_base.html" %}
{% load static %}



{% block table %}
    <thead>
    <tr>
        <th style="width:5%;">Номер</th>
        <th style="width:20%;">Дата</th>
        <th style="width:30%;">Линия</th>
        <th style="width:10%;">Номер партии</th>
        <th style="width:15%;">Дата выработки</th>
        <th style="width:40%;">Ручная корректировка</th>
        <th style="width:40%;">Закрыта</th>
        <th style="width:40%;">Готова в выгрузке</th>
        <th style="width:40%;">Выгружена</th>
        <th style="width:5%;">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.number }} </td>
            <td> {{ element.date }} </td>
            <td> {{ element.line|default_if_none:"-" }} </td>
            <td> {{ element.batch_number|default_if_none:"-" }} </td>
            <td> {{ element.production_date }} </td>
            <td> {{ element.manual_editing|yesno:"Да,Нет,-" }} </td>
            <td> {{ element.closed|yesno:"Да,Нет,-" }} </td>
            <td> {{ element.ready_to_unload|yesno:"Да,Нет,-" }} </td>
            <td> {{ element.unloaded|yesno:"Да,Нет,-" }} </td>
            <td class="table-action">
                <a href="{% url  'marking_detail' element.guid %}"><i
                        class="align-middle"
                        data-feather="grid"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}