{% extends "base.html" %}
{% load static %}

{% block messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                {{ message }}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block content %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.production_date.id_for_label }}" class="form-label">{{ form.production_date.label }}</label>
                    <input type="date" class="form-control" id="{{ form.production_date.id_for_label }}" value="{{ shift.production_date|date:'Y-m-d' }}" name="{{ form.production_date.name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                    <select class="form-select" id="{{ form.type.id_for_label }}" name="{{ form.type.name }}">
                        {% for value in form.type %}
                            {{ value }}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="{{ form.closed.id_for_label }}" value="{{ shift.closed }}" {% if shift.closed %} checked {% endif %} name="{{ form.closed.name }}">
                    <label class="form-check-label" for="{{ form.closed.id_for_label }}">{{ form.closed.label }}</label>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}