{% extends "list_base.html" %}
{% load static %}

{% block table %}
    <thead>
    <tr>
        <th style="width:15%;">Паллета</th>
        <th style="width:15%;">Грузополучатель</th>
        <th style="width:5%;">Собрано</th>
        <th style="width:5%;">Вес</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.pallet.name }} </td>
            <td> {{ element.pallet.consignee }} </td>
            <td> {{ element.count }} </td>
            <td> {{ element.weight }} </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}