{% extends "list_base.html" %}
{% load static %}

{% block table %}
    <thead>
    <tr>
        <th style="width:5%;">Номер</th>
        <th style="width:15%;">Дата</th>
        <th style="width:10%;">Направление</th>
        <th style="width:30%;">Внешний источник</th>
        <th style="width:10%;">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td> {{ element.number }} </td>
            <td> {{ element.date }} </td>
            <td> {{ element.direction|default_if_none:"-" }} </td>
            <td> {{ element.external_source }} </td>
            <td class="table-action">
                <a href="{% url  'orders' element.guid %}"><i
                        class="align-middle"
                        data-feather="grid"></i></a>
                <a href="{% url  'shipment_pallets' element.guid %}"><i
                        class="align-middle"
                        data-feather="shopping-cart"></i></a>
                <a href="{% url 'shipment_operation_edit' element.pk %}">
                    <i class="align-middle" data-feather="edit-2"></i>
                </a>
                <a href="{% url 'shipment_operation_delete' element.pk %}">
                    <i class="align-middle" data-feather="trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}