{% extends "base.html" %}
{% load static %}
{% block styles %}
    {{ form.media.css }}
{% endblock %}

{% block messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                {{ message }}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block content %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="{{ form.cell.id_for_label }}">{{ form.cell.label }}</label>
                    {{ form.cell }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock %}